{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Elastic Cloud API",
    "description" : "This RESTful API enables you to perform most of the operations available in the UI console through API calls.\n\nYou can [create an API key](https://www.elastic.co/guide/en/cloud/current/ec-api-authentication.html) to quickly and easily authenticate, then use the API to create and manage deployments, configure remote clusters, set up traffic filters, manage extensions, and much more.\nAccess the API from its base URL at `api.elastic-cloud.com`.\n\nTo manage your serverless projects, use the [Elastic Cloud Serverless API](https://www.elastic.co/docs/api/doc/elastic-cloud-serverless).\n\n## Documentation source and versions\n\nThis documentation is derived from https://api.elastic-cloud.com/api/v1/api-docs-user/swagger.json.\nIt is provided under license [Attribution-NonCommercial-NoDerivatives 4.0 International](https://creativecommons.org/licenses/by-nc-nd/4.0/).\n",
    "termsOfService" : "",
    "version" : "1",
    "x-doc-license" : {
      "name" : "Attribution-NonCommercial-NoDerivatives 4.0 International",
      "url" : "https://creativecommons.org/licenses/by-nc-nd/4.0/"
    },
    "x-feedbackLink" : {
      "label" : "Feedback",
      "url" : "https://github.com/elastic/docs-content/issues/new?assignees=&labels=feedback%2Ccommunity&projects=&template=api-feedback.yaml&title=%5BFeedback%5D%3A+"
    }
  },
  "servers" : [ {
    "url" : "https://api.elastic-cloud.com/api/v1"
  } ],
  "tags" : [ {
    "name" : "Accounts",
    "description" : "Retrieve and update the current Elasticsearch Service account."
  }, {
    "name" : "Authentication",
    "description" : "Manage your Elasticsearch Service API keys."
  }, {
    "name" : "BillingCostsAnalysis",
    "description" : "Get an overview of your costs by organization ID.",
    "x-displayName" : "Billing costs analysis"
  }, {
    "name" : "Deployments",
    "description" : "Manage APM routes and read-only mode on App Search resources. Perform CRUD operations and commands. Get information about the certificate authorities, resources, remote clusters, and upgrade assistant status in your deployments.\n"
  }, {
    "name" : "Extensions",
    "description" : "Manage the extensions for your deployment.",
    "x-displayName" : "Deployments - Extensions"
  }, {
    "name" : "DeploymentTemplates",
    "description" : "Retrieve available deployment templates.",
    "x-displayName" : "Deployments - Templates"
  }, {
    "name" : "DeploymentsTrafficFilter",
    "description" : "Manage traffic filter rulesets and their associations with your deployments. Manage the ownership of traffic link IDs.\n",
    "x-displayName" : "Deployments - Traffic filter"
  }, {
    "name" : "Organizations",
    "description" : "Manage organization invitations and memberships."
  }, {
    "name" : "Stack",
    "description" : "Retrieve the available Elastic Stack versions for your deployments.",
    "x-displayName" : "Stack - Versions - CRUD"
  }, {
    "name" : "TrustedEnvironments",
    "description" : "Get the list of trusted environments for the organization.",
    "x-displayName" : "Trusted environments"
  }, {
    "name" : "UserRoleAssignments",
    "description" : "Manage your user role assignments.",
    "x-displayName" : "Users - Role Assignments"
  } ],
  "paths" : {
    "/account" : {
      "get" : {
        "tags" : [ "Accounts" ],
        "summary" : "Fetch current account information",
        "description" : "Fetch current account information.",
        "operationId" : "get-current-account",
        "responses" : {
          "200" : {
            "description" : "Account fetched successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found. (code: `accounts.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "accounts.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Accounts"
        }
      },
      "put" : {
        "tags" : [ "Accounts" ],
        "summary" : "Updates the current account",
        "description" : "Updates the current account.",
        "operationId" : "update-current-account",
        "requestBody" : {
          "description" : "the current account",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AccountUpdateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Account updated successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found. (code: `accounts.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "accounts.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Accounts"
        },
        "x-codegen-request-body-name" : "body"
      },
      "patch" : {
        "tags" : [ "Accounts" ],
        "summary" : "Updates the current account",
        "description" : "Updates the current account.",
        "operationId" : "patch-current-account",
        "requestBody" : {
          "description" : "All changes in the specified object are applied to the current account according to the JSON Merge Patch processing rules. Omitting existing fields causes the same values to be reapplied. Specifying a `null` value reverts the field to the default value, or removes the field when no default value exists",
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Account updated successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AccountResponse"
                }
              }
            }
          },
          "404" : {
            "description" : "Account not found. (code: `accounts.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "accounts.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Accounts"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/billing/costs/{organizationId}" : {
      "get" : {
        "tags" : [ "BillingCostsAnalysis" ],
        "summary" : "Get costs overview for the organization. Currently unavailable in self-hosted ECE.",
        "description" : "EXPERIMENTAL (it may change in future versions): Retrieves an overview of the costs by organization ID.",
        "operationId" : "get-costs-overview",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Identifier for the organization",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "A datetime for the beginning of the desired range for which to fetch costs. Defaults to start of current month",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "A datetime for the end of the desired range for which to fetch costs. Defaults to the current date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Top-level cost overview for the organization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CostsOverview"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified date range is invalid. (code: `costs.invalid_date_range`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "costs.invalid_date_range" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "403" : {
            "description" : "The current user does not have access to the requested organization. (code: `organization.invalid_access`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.invalid_access" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "Organization not found. (code: `organization.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "An error occurred when fetching an overview of the costs for the organization. (code: `billing_service.failed_request`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.failed_request" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-doc" : {
          "tag" : "Billing Costs Analysis"
        }
      }
    },
    "/billing/costs/{organizationId}/charts" : {
      "get" : {
        "tags" : [ "BillingCostsAnalysis" ],
        "summary" : "Get charts for the organization. Currently unavailable in self-hosted ECE.",
        "description" : "EXPERIMENTAL (it may change in future versions): Retrieves the usage charts for the organization.",
        "operationId" : "get-costs-charts",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Identifier for the organization",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "A datetime for the beginning of the desired range for which to fetch costs. Defaults to start of current month",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "A datetime for the end of the desired range for which to fetch costs. Defaults to the current date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bucketing_strategy",
          "in" : "query",
          "description" : "The desired bucketing strategy for the charts. Defaults to `daily`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "daily",
            "enum" : [ "daily", "monthly" ]
          },
          "x-ballerina-name" : "bucketingStrategy"
        } ],
        "responses" : {
          "200" : {
            "description" : "The usage charts of an organization",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChartItems"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified date range is invalid. (code: `costs.invalid_date_range`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "costs.invalid_date_range" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "403" : {
            "description" : "The current user does not have access to the requested organization. (code: `organization.invalid_access`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.invalid_access" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "Organization not found. (code: `organization.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests. (code: `billing_service.rate_limited`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.rate_limited" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "Error fetching the itemized costs for the organization. (code: `billing_service.failed_request`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.failed_request" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-doc" : {
          "tag" : "Billing Costs Analysis"
        }
      }
    },
    "/billing/costs/{organizationId}/deployments" : {
      "get" : {
        "tags" : [ "BillingCostsAnalysis" ],
        "summary" : "Get deployments costs for the organization. Currently unavailable in self-hosted ECE.",
        "description" : "EXPERIMENTAL (it may change in future versions): Retrieves the costs associated with all deployments for the organization.",
        "operationId" : "get-costs-deployments",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Identifier for the organization",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "A datetime for the beginning of the desired range for which to fetch activity. Defaults to start of current month",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "A datetime for the end of the desired range for which to fetch activity. Defaults to the current date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Accept header containing the content preference",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "accept"
        } ],
        "responses" : {
          "200" : {
            "description" : "The costs associated to a set of products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentsCosts"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid date range specified. (code: `costs.invalid_date_range`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "costs.invalid_date_range" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "403" : {
            "description" : "The current user does not have access to the requested organization. (code: `organization.invalid_access`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.invalid_access" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "Organization not found. (code: `organization.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "An error occurred when fetching the costs associated with all deployments for the organization. (code: `billing_service.failed_request`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.failed_request" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-doc" : {
          "tag" : "Billing Costs Analysis"
        }
      }
    },
    "/billing/costs/{organizationId}/deployments/{deploymentId}/charts" : {
      "get" : {
        "tags" : [ "BillingCostsAnalysis" ],
        "summary" : "Get charts by deployment. Currently unavailable in self-hosted ECE.",
        "description" : "EXPERIMENTAL (it may change in future versions): Retrieves the usage charts for the given  deployment.",
        "operationId" : "get-costs-charts-by-deployment",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Identifier for the organization",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deploymentId",
          "in" : "path",
          "description" : "Id of a Deployment",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "A datetime for the beginning of the desired range for which to fetch costs. Defaults to start of current month",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "A datetime for the end of the desired range for which to fetch costs. Defaults to the current date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "bucketing_strategy",
          "in" : "query",
          "description" : "The desired bucketing strategy for the charts. Defaults to `daily`",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "daily",
            "enum" : [ "daily", "monthly" ]
          },
          "x-ballerina-name" : "bucketingStrategy"
        } ],
        "responses" : {
          "200" : {
            "description" : "The usage charts of a deployment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChartItems"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified date range is invalid. (code: `costs.invalid_date_range`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "costs.invalid_date_range" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "403" : {
            "description" : "The current user does not have access to the requested organization. (code: `organization.invalid_access`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.invalid_access" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "Organization not found. (code: `organization.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "429" : {
            "description" : "Too many requests. (code: `billing_service.rate_limited`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.rate_limited" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "Error fetching the itemized costs for the organization. (code: `billing_service.failed_request`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.failed_request" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-doc" : {
          "tag" : "Billing Costs Analysis"
        }
      }
    },
    "/billing/costs/{organizationId}/deployments/{deploymentId}/items" : {
      "get" : {
        "tags" : [ "BillingCostsAnalysis" ],
        "summary" : "Get itemized costs by deployments. Currently unavailable in self-hosted ECE.",
        "description" : "EXPERIMENTAL (it may change in future versions): Retrieves the itemized costs for the given deployment.",
        "operationId" : "get-costs-items-by-deployment",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Identifier for the organization",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "deploymentId",
          "in" : "path",
          "description" : "Id of a Deployment",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "A datetime for the beginning of the desired range for which to fetch costs. Defaults to start of current month",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "A datetime for the end of the desired range for which to fetch costs. Defaults to the current date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Determines the response body format. Can be either application/json or text/csv",
          "required" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "accept"
        } ],
        "responses" : {
          "200" : {
            "description" : "The costs associated to a set items billed for a single deployment",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ItemsCosts"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified date range is invalid. (code: `costs.invalid_date_range`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "costs.invalid_date_range" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "403" : {
            "description" : "The current user does not have access to the requested organization. (code: `organization.invalid_access`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.invalid_access" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "* The organization was not found. (code: `organization.not_found`)\n* The Elasticsearch cluster was not found. (code: `billing_service.es_cluster_id_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.not_found", "billing_service.es_cluster_id_not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "An error occurred when fetching the itemized costs for the given deployment of the organization. (code: `billing_service.failed_request`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.failed_request" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-doc" : {
          "tag" : "Billing Costs Analysis"
        }
      }
    },
    "/billing/costs/{organizationId}/items" : {
      "get" : {
        "tags" : [ "BillingCostsAnalysis" ],
        "summary" : "Get itemized costs for the organization. Currently unavailable in self-hosted ECE.",
        "description" : "EXPERIMENTAL (it may change in future versions): Retrieves the itemized costs for the organization.",
        "operationId" : "get-costs-items",
        "parameters" : [ {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Identifier for the organization",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "from",
          "in" : "query",
          "description" : "A datetime for the beginning of the desired range for which to fetch costs. Defaults to start of current month",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "to",
          "in" : "query",
          "description" : "A datetime for the end of the desired range for which to fetch costs. Defaults to the current date",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The costs associated to a set of items",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ItemsCosts"
                }
              }
            }
          },
          "400" : {
            "description" : "The specified date range is invalid. (code: `costs.invalid_date_range`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "costs.invalid_date_range" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "403" : {
            "description" : "The current user does not have access to the requested organization. (code: `organization.invalid_access`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.invalid_access" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "Organization not found. (code: `organization.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "organization.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "Error fetching the itemized costs for the organization. (code: `billing_service.failed_request`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "billing_service.failed_request" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "deprecated" : true,
        "x-doc" : {
          "tag" : "Billing Costs Analysis"
        }
      }
    },
    "/deployments" : {
      "get" : {
        "tags" : [ "Deployments" ],
        "summary" : "List Deployments",
        "description" : "List Deployments.",
        "operationId" : "list-deployments",
        "responses" : {
          "200" : {
            "description" : "The list of deployments that belong to the authenticated user",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentsListResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        }
      },
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Create Deployment",
        "description" : "Creates a Deployment.",
        "operationId" : "create-deployment",
        "parameters" : [ {
          "name" : "request_id",
          "in" : "query",
          "description" : "An optional idempotency token - if two create requests share the same request_id token (min size 32 characters, max 128) then only one deployment will be created, the second request will return the info of that deployment (in the same format described below, but with blanks for auth-related fields)",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "validate_only",
          "in" : "query",
          "description" : "If true, will just validate the Deployment definition but will not perform the creation",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "template_id",
          "in" : "query",
          "description" : "An optional template id - if present, the referenced template will be used to fill in the resources field of the deployment creation request. If any resources are present in the request together with the template, the ones coming in the request will prevail and no merging with the template will be performed",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The deployment definition",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeploymentCreateRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The request was valid (used when validate_only is true)",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentCreateResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "The request was valid and a new deployment was created",
            "headers" : {
              "x-cloud-resource-version" : {
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-last-modified" : {
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-created" : {
                "description" : "The date-time when the resource was created (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentCreateResponse"
                }
              }
            }
          },
          "202" : {
            "description" : "The request was valid and deployment creation had already been started.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentCreateResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The deployment request had errors.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to perform this action.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployment - CRUD"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/deployments/_search" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Search Deployments",
        "description" : "Retrieves the information for all of the deployments that match the specified query.",
        "operationId" : "search-deployments",
        "parameters" : [ {
          "name" : "minimal_metadata",
          "in" : "query",
          "description" : "Comma separated list of attributes to include in response for deployments found. Useful for reducing response size when retrieving many deployments. Use of this parameter moves the result to the minimal_metadata section of the response",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "minimalMetadata"
        } ],
        "requestBody" : {
          "description" : "(Optional) The search query to run. When not specified, all of the deployments are matched",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "The list of deployments that match the specified query and belong to the authenticated user",
            "headers" : {
              "x-cloud-resource-version" : {
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-last-modified" : {
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-created" : {
                "description" : "The date-time when the resource was created (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentsSearchResponse"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployment - Commands"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/deployments/eligible-remote-clusters" : {
      "post" : {
        "tags" : [ "Deployments" ],
        "summary" : "Get eligible remote clusters",
        "description" : "Returns the list of deployments which contain eligible remote clusters for a specific version.",
        "operationId" : "search-eligible-remote-clusters",
        "parameters" : [ {
          "name" : "version",
          "in" : "query",
          "description" : "The version of the Elasticsearch cluster cluster that will potentially be configured to have remote clusters",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "(Optional) The search query to run against all deployments containing eligible remote clusters. When not specified, all the eligible deployments are matched",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SearchRequest"
              }
            }
          },
          "required" : false
        },
        "responses" : {
          "200" : {
            "description" : "List of deployments which contains eligible remote clusters for a specific version",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentsSearchResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "The provided version is invalid. (code: `stackpack.invalid_version`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "stackpack.invalid_version" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployment - Remote Clusters"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/deployments/extensions" : {
      "get" : {
        "tags" : [ "Extensions" ],
        "summary" : "List Extensions",
        "description" : "Retrieves all of the available extensions.",
        "operationId" : "list-extensions",
        "responses" : {
          "200" : {
            "description" : "The extensions that are available",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Extensions"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      },
      "post" : {
        "tags" : [ "Extensions" ],
        "summary" : "Create an extension",
        "description" : "Creates the extension.\n The extensions API supports two types of usage patterns.\n A). Specify a `download_url`, http or https URL,  where the extension is currently hosted. This will result in extension being copied to elastic repository.\n B). Create only the extension metadata using the `POST` endpoint and then use `PUT` to upload the extension file. Leave the `download_url` unspecified in this case.\n",
        "operationId" : "create-extension",
        "requestBody" : {
          "description" : "the data that creates the extension",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateExtensionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The extension that was just created",
            "headers" : {
              "x-cloud-resource-version" : {
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-last-modified" : {
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-created" : {
                "description" : "The date-time when the resource was created (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Extension"
                }
              }
            }
          },
          "400" : {
            "description" : "Could not download the extension from the specified URL. (code: `extensions.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.no_user_id" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "409" : {
            "description" : "An extension already exists with the generated id. Please try again. (code: `extensions.id_already_exists`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.id_already_exists" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/deployments/extensions/{extensionId}" : {
      "get" : {
        "tags" : [ "Extensions" ],
        "summary" : "Get Extension",
        "description" : "Retrieves an extension.",
        "operationId" : "get-extension",
        "parameters" : [ {
          "name" : "extensionId",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "include_deployments",
          "in" : "query",
          "description" : "Include deployments referencing this extension. Up to only 10000 deployments will be included",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "x-ballerina-name" : "includeDeployments"
        } ],
        "responses" : {
          "200" : {
            "description" : "The Extension",
            "headers" : {
              "x-cloud-resource-version" : {
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-last-modified" : {
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-created" : {
                "description" : "The date-time when the resource was created (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Extension"
                }
              }
            }
          },
          "404" : {
            "description" : "The extension requested does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      },
      "put" : {
        "tags" : [ "Extensions" ],
        "summary" : "Uploads the Extension",
        "description" : "Uploads archive for an extension.",
        "operationId" : "upload-extension",
        "parameters" : [ {
          "name" : "extensionId",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "$ref" : "#/components/schemas/ExtensionsextensionIdBody"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Archive uploaded successfully",
            "headers" : {
              "x-cloud-resource-version" : {
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-last-modified" : {
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-created" : {
                "description" : "The date-time when the resource was created (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Extension"
                }
              }
            }
          },
          "400" : {
            "description" : "Could not accept the extensions file. (code: `extensions.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "401" : {
            "description" : "* The extension does not belong to you. (code: `extensions.unauthorised`)\n* Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.unauthorised", "extensions.no_user_id" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "The extension you want does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      },
      "post" : {
        "tags" : [ "Extensions" ],
        "summary" : "Update Extension",
        "description" : "Updates an extension.",
        "operationId" : "update-extension",
        "parameters" : [ {
          "name" : "extensionId",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "description" : "The extension update data",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateExtensionRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "Extension updated successfully",
            "headers" : {
              "x-cloud-resource-version" : {
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-last-modified" : {
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-created" : {
                "description" : "The date-time when the resource was created (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Extension"
                }
              }
            }
          },
          "400" : {
            "description" : "Could not download the extension from the specified URL. (code: `extensions.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "401" : {
            "description" : "* The extension does not belong to you. (code: `extensions.unauthorised`)\n* Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.unauthorised", "extensions.no_user_id" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "The extension you want does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "409" : {
            "description" : "The version you sent does not match the persisted version. (code: `extensions.version_conflict`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.version_conflict" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        },
        "x-codegen-request-body-name" : "body"
      },
      "delete" : {
        "tags" : [ "Extensions" ],
        "summary" : "Delete Extension",
        "description" : "Deletes a Extension.",
        "operationId" : "delete-extension",
        "parameters" : [ {
          "name" : "extensionId",
          "in" : "path",
          "description" : "Id of an extension",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Extension deleted successfully",
            "headers" : {
              "x-cloud-resource-version" : {
                "description" : "The resource version, which is used to avoid update conflicts with concurrent operations",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-last-modified" : {
                "description" : "The date-time when the resource was last modified (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              },
              "x-cloud-resource-created" : {
                "description" : "The date-time when the resource was created (ISO format relative to UTC)",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "* The extension does not belong to you. (code: `extensions.unauthorised`)\n* Your current session does not have a user id associated with it. (code: `extensions.no_user_id`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.unauthorised", "extensions.no_user_id" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "The extension requested does not exist. (code: `extensions.not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "409" : {
            "description" : "The version you sent does not match the persisted version. (code: `extensions.version_conflict`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "extensions.version_conflict" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Extensions"
        }
      }
    },
    "/deployments/templates" : {
      "get" : {
        "tags" : [ "DeploymentTemplates" ],
        "summary" : "Get deployment templates",
        "description" : "Retrieves all deployment templates.",
        "operationId" : "get-deployment-templates-v2",
        "parameters" : [ {
          "name" : "metadata",
          "in" : "query",
          "description" : "An optional key/value pair in the form of (key:value) that will act as a filter and exclude any templates that do not have a matching metadata item associated",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show_instance_configurations",
          "in" : "query",
          "description" : "If true, will return details for each instance configuration referenced by the template",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          },
          "x-ballerina-name" : "showInstanceConfigurations"
        }, {
          "name" : "show_max_zones",
          "in" : "query",
          "description" : "If true, will populate the max_zones field in the instance configurations. Only relevant if show_instance_configurations=true",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "x-ballerina-name" : "showMaxZones"
        }, {
          "name" : "stack_version",
          "in" : "query",
          "description" : "If present, it will cause the returned deployment templates to be adapted to return only the elements allowed in that version",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "stackVersion"
        }, {
          "name" : "hide_deprecated",
          "in" : "query",
          "description" : "If true, templates flagged as deprecated will NOT be returned",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "x-ballerina-name" : "hideDeprecated"
        }, {
          "name" : "region",
          "in" : "query",
          "description" : "Region of the deployment templates",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The deployment templates were returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/DeploymentTemplateInfoV2"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "The requested region was not found. (code: `templates.region_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "templates.region_not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized to access requested region. (code: `templates.region_not_allowed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "templates.region_not_allowed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Templates"
        }
      }
    },
    "/deployments/templates/{templateId}" : {
      "get" : {
        "tags" : [ "DeploymentTemplates" ],
        "summary" : "Get deployment template",
        "description" : "Retrieves a deployment template by id.",
        "operationId" : "get-deployment-template-v2",
        "parameters" : [ {
          "name" : "templateId",
          "in" : "path",
          "description" : "The identifier for the deployment template",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "show_instance_configurations",
          "in" : "query",
          "description" : "If true, will return details for each instance configuration referenced by the template",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          },
          "x-ballerina-name" : "showInstanceConfigurations"
        }, {
          "name" : "show_max_zones",
          "in" : "query",
          "description" : "If true, will populate the max_zones field in the instance configurations. Only relevant if show_instance_configurations=true",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "x-ballerina-name" : "showMaxZones"
        }, {
          "name" : "stack_version",
          "in" : "query",
          "description" : "If present, it will cause the returned deployment template to be adapted to return only the elements allowed in that version",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "stackVersion"
        }, {
          "name" : "region",
          "in" : "query",
          "description" : "Region of the deployment template",
          "required" : true,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "The deployment template was found and returned successfully",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeploymentTemplateInfoV2"
                }
              }
            }
          },
          "400" : {
            "description" : "The requested region is not supported. (code: `templates.region_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "templates.region_not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "401" : {
            "description" : "The user is not authorized to access requested region. (code: `templates.region_not_allowed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "templates.region_not_allowed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "404" : {
            "description" : "The deployment template specified by {template_id} cannot be found. (code: `templates.template_not_found`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "templates.template_not_found" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Templates"
        }
      }
    },
    "/deployments/traffic-filter/associations/{associationType}/{associatedEntityId}/rulesets" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Get associated rulesets",
        "description" : "Retrieves the rulesets associated with a deployment.",
        "operationId" : "get-traffic-filter-deployment-ruleset-associations",
        "parameters" : [ {
          "name" : "associationType",
          "in" : "path",
          "description" : "Association type",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "associatedEntityId",
          "in" : "path",
          "description" : "Associated entity ID",
          "required" : true,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Rulesets in the deployment were successfully returned",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrafficFilterSettings"
                }
              }
            }
          },
          "400" : {
            "description" : "Invalid association type. (code: `traffic_filter.invalid_association_type`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter.invalid_association_type" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "Error fetching traffic filter rulesets. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - Associations"
        }
      }
    },
    "/deployments/traffic-filter/link-ids" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "List traffic filter claimed link id",
        "description" : "List all of the traffic filter claimed link id.",
        "operationId" : "get-traffic-filter-claimed-link-ids",
        "parameters" : [ {
          "name" : "region",
          "in" : "query",
          "description" : "If provided limits the claimed id to that region only",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organization_id",
          "in" : "query",
          "description" : "Retrieves a list of resources that are associated to the specified organization ID. It only takes effect if the user is an admin",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "organizationId"
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of traffic filter claimed link id",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrafficFilterClaimedLinkIds"
                }
              }
            }
          },
          "500" : {
            "description" : "Error fetching traffic filter claimed link ids. (code: `traffic_filter_claimed_link_id.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter_claimed_link_id.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter Claimed Link Id"
        }
      }
    },
    "/deployments/traffic-filter/link-ids/_claim" : {
      "post" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Claim a link id",
        "description" : "Claim the ownership of a link id.",
        "operationId" : "claim-traffic-filter-link-id",
        "requestBody" : {
          "description" : "The specification for traffic filter claimed link id",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrafficFilterClaimedLinkIdRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The ruleset definition is valid and the creation has started",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrafficFilterClaimedLinkIdInfo"
                }
              }
            }
          },
          "500" : {
            "description" : "Error creating the traffic filter ruleset. (code: `traffic_filter_claimed_link_id.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter_claimed_link_id.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter Claimed Link Id"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/deployments/traffic-filter/link-ids/_unclaim" : {
      "post" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Unclaims a link id",
        "description" : "Unclaims the ownership of a link id.",
        "operationId" : "unclaim-traffic-filter-link-id",
        "requestBody" : {
          "description" : "The specification for traffic filter claimed link id",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrafficFilterClaimedLinkIdRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "The claimed link id was successfully deleted",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/EmptyResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Error validating the request. (code: `traffic_filter_claimed_link_id.invalid_input`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter_claimed_link_id.invalid_input" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          },
          "500" : {
            "description" : "Error deleting the traffic filter claimed link id. (code: `traffic_filter_claimed_link_id.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter_claimed_link_id.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter Claimed Link Id"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/deployments/traffic-filter/rulesets" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "List traffic filter rulesets",
        "description" : "List all of the traffic filter rulesets.",
        "operationId" : "get-traffic-filter-rulesets",
        "parameters" : [ {
          "name" : "include_associations",
          "in" : "query",
          "description" : "Retrieves a list of resources that are associated to the specified ruleset",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "x-ballerina-name" : "includeAssociations"
        }, {
          "name" : "region",
          "in" : "query",
          "description" : "If provided limits the rulesets to that region only",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organization_id",
          "in" : "query",
          "description" : "Retrieves a list of resources that are associated to the specified organization ID. It only takes effect if the user is an admin",
          "required" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string"
          },
          "x-ballerina-name" : "organizationId"
        } ],
        "responses" : {
          "200" : {
            "description" : "The collection of traffic filter routes",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrafficFilterRulesets"
                }
              }
            }
          },
          "500" : {
            "description" : "Error fetching traffic filter rulesets. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - CRUD"
        }
      },
      "post" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Create a ruleset",
        "description" : "Creates a ruleset that consists of a set of rules.",
        "operationId" : "create-traffic-filter-ruleset",
        "requestBody" : {
          "description" : "The specification for traffic filter ruleset",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TrafficFilterRulesetRequest"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "The ruleset definition is valid and the creation has started",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TrafficFilterRulesetResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Error creating the traffic filter ruleset. (code: `traffic_filter.request_execution_failed`)",
            "headers" : {
              "x-cloud-error-codes" : {
                "description" : "The error codes associated with the response",
                "style" : "simple",
                "explode" : false,
                "schema" : {
                  "type" : "string",
                  "enum" : [ "traffic_filter.request_execution_failed" ]
                }
              }
            },
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BasicFailedReply"
                }
              }
            }
          }
        },
        "x-doc" : {
          "tag" : "Deployments - Traffic Filter - CRUD"
        },
        "x-codegen-request-body-name" : "body"
      }
    },
    "/deployments/traffic-filter/rulesets/{rulesetId}" : {
      "get" : {
        "tags" : [ "DeploymentsTrafficFilter" ],
        "summary" : "Retrieves the ruleset by ID.",
        "description" : "Retrieves a list of resources that are associated to the specified ruleset.",
        "operationId" : "get-traffic-filter-ruleset",
        "parameters" : [ {
          "name" : "rulesetId",
          "in" : "path",
          "description" : "The mandatory ruleset ID",
          "required" : true,
[...]
